
/* CSS Reset */

body {
	font-size: 100%;
}

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, .content > p,
.content > pre, .content > blockquote, .content ol, .content ul, .bullets > ul, .smbullets > ul,
.bullets ul ul > li, .commandline pre, .results, #tips, #preshow_timer  {
	font-size: 1em;
}

/* Widescreen format */

#preso,.slide {
	width: 1280px;
	height: 720px;
}

/* Setup Fonts  */

body {
	font-family: "Arial", sans-serif;
	color: #535353;
}


div.content {
	font-size: 2.2em;
}

h1 {
	font-size: 1.2em;
	font-weight: bold;
}

ul > li {
	font-size: 1.0em;
}

.content > ul > li > ul > li {
	font-size: 0.95em;
}

.content > ul > li > ul > li  ul,
.content > ul > li > ul > li  ul li {
	font-size: 1em;
}

/* Positioning */

div.content {
	padding: 10px 50px;
}

div.content {
	margin-top: 0px !important;
}

/* Bullets */

.bullets > ul > li {
	text-align: left;
	list-style-type: disc;
}

.bullets > ul > li > ul > li,
.bullets > ul > li > ul > li > ul > li > ul > li {
	list-style-image: url("dash.png");
}

.content ul li, .bullets ul li, .content ul, .content ul ul {
	padding: 0;
	margin: 0;
}

.content ul, .content ul ul {
	padding-left: 40px;
}

.content ul li {
	padding : 18px 0 0 10px;
}


/* Misc */

h1 {
	text-align: left;
	padding-bottom: 14px;
	border-bottom: 4px solid #267b42;
}

.subsection h1 {
	text-align: center;
	padding: 0;
	font-size: 3em;
	margin: 250px 80px 0;
	border-bottom: none;
	background: inherit;
	color: inherit;
}

#footer {
	background: url("footer.png") no-repeat bottom;
	height: 43px;
	top: -43px;
	padding: 0;
	width: 1280px;
}

#copyright {
	height: 43px;
	top: -43px;
	margin: 0;
	padding: 16px 0 0 60px;
	position: relative;;
	width: 1280px;
	z-index: 2147483647;
	font-size: 0.9em;
	color: white;
	margin-left: auto;
    margin-right: auto;
}

#slideInfo {
	color: white;
	display: block;
	padding: 10px 0px 0px 40px;
	font-size: 1.4em;
}

div.cover {
	background: url("cover.png") no-repeat top;
	height: 720px;
}

.cover > h1 {
	border: none;
	color: white;
	font-weight: normal;
	text-align: center;
	padding-top: 310px;
	font-size: 1.5em;
}

.cover > h2, .cover > p {
	color: white;
	font-size: 0.8em;
	margin-top: 12px;
	margin-bottom: 12px;
}
